
<!DOCTYPE html>
<html>
    <head>
       
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       

</head>
    <body>

<div class="box">
<div class="flex-container">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <i id="t3" class="fa fa-align-justify fa-lg"></i>
<i id="t1" class="fa fa-align-justify fa-lg"></i>
               
               
               <ul>
                <li id="v3"><a class="active" href="/home">Home</a></li><br><br>
                <li id="v3"><a  href="/home">Profile</a></li><br><br>
             
             <li id="v1">
                 
             <div class="dropdown">
                 <a href="#">Edit</a>
                 <div id="v2">
                 <div class="dropdown-content">
               <a href=# >Edit Profile</a>
               <a href=# >Edit Staffs</a>
               <a href="#" >LogOut</a>
             </div>
             </div>
             </div>
             </li><br><br>
             <li id="v3"><a class="active" href="/home">Staffs</a></li> <br><br>
                <li id="v3"><a  href="/home">Logout</a></li>
             </ul>
            </div>
        </div>
    </div>
</div>
</div>
<p style="font-size: x-large;">Welcome, Principal</p>
    </body>
</html>
    

